@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@100;500;900&family=Jua&family=Nanum+Gothic:wght@400;800&family=Nanum+Myeongjo:wght@700;800&family=Noto+Sans+KR:wght@100;400;700&display=swap');

/* font-family: 'Do Hyeon', sans-serif;
font-family: 'Hahmlet', serif;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Sans KR', sans-serif;
*/
/* 내가 진짜 폰트에 환장하는 사람이라 무료 웹폰트 다 찾아봤는데 예쁜게 진짜 없다..
    예쁜거 쓸라면 fonts 파일에 있는 폰트 설치해야 적용가능 ..*/